.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about h1{
    margin: 1em 0;
    font-size: 2em;
}

.about p{
    max-width: 600px;
    margin-bottom: 1em;
    line-height: 1.3em;
}